<h1>Counter</h1>

<form *ngIf="(vm$ | async) as vm" [formGroup]="counterForm">

<div class="countdownHolder"
  id="{{elementIds.TimerDisplay}}">
  <span class="position" *ngFor="let d of (vm.count | toArray)">
    <span class="digit static">
      {{d}}
    </span>
  </span>
</div>

<button type="button"
  id="{{elementIds.BtnStart}}"
  (click)="btnStart.next($event)"
  [disabled]="vm.isTicking"
  >
  Start
</button>

<button type="button"
  id="{{elementIds.BtnPause}}"
  (click)="btnPause.next($event)"
  [disabled]="!vm.isTicking"
  >
  Pause
</button>

<br/>

<button type="button"
  id="{{elementIds.BtnSetTo}}"
  (click)="btnSetTo.next($event)">
  Set To
</button>

<input
  id="{{elementIds.InputSetTo}}"
  type="number" min=0
  formControlName="startingValue"/>

<button type="button"
  id="{{elementIds.BtnReset}}" 
  (click)="btnReset.next($event)">
  Reset
</button>

<br/>

<button type="button"
  id="{{elementIds.BtnUp}}"
  (click)="btnUp.next($event)"
  [disabled]="vm.countUp">
  Count Up
</button>

<button type="button"
  id="{{elementIds.BtnDown}}"
  (click)="btnDown.next($event)"
  [disabled]="!vm.countUp">
  Count Down
</button>

<br/>

<label>
  Tick Speed
</label>
<input id="{{elementIds.InputTickSpeed}}"
  type="number" min=0
  formControlName="tickSpeed"/>

<label>
  Count Diff
</label>
<input id="{{elementIds.InputCountDiff}}"
  type="number" min=0
  formControlName="countDiff"/>
</form>